.task-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: rgba(219, 226, 239, 1);
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.task-item.completed {
    color: #888;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox:checked {
    background-color: #fff;
}

.checkbox:checked::before {
    content: '✔';
    color: green;
    font-size: 16px;
}

.task-text {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .task-item {
        width: 90%;
        /* Ensure task items align with the input container */
        margin: 0 auto;
        /* Center the task items */
    }
}